 .bodytext {
     font-size: medium;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

.nameBox {
    width: 16em;
    margin:  5px 0px 0px;
    padding-top: 3px;
}

.nameLabel{
    float: left;
    width: 125px;
    margin: 5px 0px 0px;
}

.watermark {
    color:  #AAA;
}

input[type="text"] {
    margin-right: 1em;
}

legend {
    margin: 0px;
}
